{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Entry</h1>
</br>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %} 
        <input class="inputt" type="text" name="title" placeholder="Title" value="{{title}}"><br></br>
        <textarea name="contenido">
            {{content}}
        </textarea>
    </br></br>
    <input type="submit" value="save entry" class="inputbtn btn btn-danger ">
    </form>
{% endblock %}


